<?php
// Database host, mostly 'localhost':
$db_settings['host'] = '{{db_host}}';

// Database name:
$db_settings['database'] = '{{db_db}}';

// Database user name:
$db_settings['user'] = '{{db_user}}';

// Database password:
$db_settings['password'] = '{{db_pass}}';

// Database tables (normally not necessary to edit):
$db_settings['settings_table']       = 'mlf2_settings';
$db_settings['forum_table']          = 'mlf2_entries';
$db_settings['category_table']       = 'mlf2_categories';
$db_settings['userdata_table']       = 'mlf2_userdata';
$db_settings['smilies_table']        = 'mlf2_smilies';
$db_settings['pages_table']          = 'mlf2_pages';
$db_settings['banlists_table']       = 'mlf2_banlists';
$db_settings['useronline_table']     = 'mlf2_useronline';
$db_settings['login_control_table']  = 'mlf2_logincontrol';
$db_settings['entry_cache_table']    = 'mlf2_entries_cache';
$db_settings['userdata_cache_table'] = 'mlf2_userdata_cache';
$db_settings['bookmark_table']       = 'mlf2_bookmarks';
$db_settings['read_status_table']    = 'mlf2_read_entries';
$db_settings['temp_infos_table']     = 'mlf2_temp_infos';
$db_settings['tags_table']           = 'mlf2_tags';
$db_settings['bookmark_tags_table']  = 'mlf2_bookmark_tags';
$db_settings['entry_tags_table']     = 'mlf2_entry_tags';
$db_settings['subscriptions_table']  = 'mlf2_subscriptions';
$db_settings['b8_wordlist_table']    = 'mlf2_b8_wordlist';
$db_settings['b8_rating_table']      = 'mlf2_b8_rating';
$db_settings['akismet_rating_table'] = 'mlf2_akismet_rating';
$db_settings['uploads_table']        = 'mlf2_uploads';
?>